body{
    height: 600px;
    background-size: 25rem;
    background-image : url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    text-align: center;
}

